.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

*.iml
.idea/
.vscode/
